<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/extra.css">
    <style>
        @import url(/css/main.css);
    </style>
</head>
<body>
    <div class="imagenes">
        <a href="principal.html"><img src="/imagenes/LogoPrincipal.png" class="imagen1"></a>
        <a href="Main.html"><img src="/imagenes/Inicio.png"class="imagen2"></a>
        <a href="principal.html"><img src="/imagenes/pagina-de-inicio.png"class="imagen3"></a>
    </div>
</body>
</html>