<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

    <div class="login-wrapper">

        <!-- logo arriba -->
        <div class="logo-box">
            <img th:src="@{/images/logoPrincipal.png}" alt="Logo" class="logo-img">
        </div>

        <div class="login-card">
            <h2>Iniciar sesión</h2>

            <!-- mensaje de error si las credenciales son incorrectas -->
            <p class="error" th:if="${param.error}">Usuario o contraseña incorrectos</p>
            <!-- mensaje si se ha cerrado sesion -->
            <p class="exito" th:if="${param.logout}">Sesión cerrada correctamente</p>

            <form th:action="@{/login}" method="post">
                <label>Usuario</label>
                <input type="text" name="username" required>

                <label>Contraseña</label>
                <input type="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>

            <p class="registro-link">¿No tienes cuenta? <a th:href="@{/registro}">Regístrate</a></p>
        </div>

    </div>

</body>
</html>