<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="imagenes">
        <a href="principal.html"><img src="/imagenes/LogoPrincipal.png" class="imagen1"></a>
        <a href="Main.html"><img src="/imagenes/Inicio.png"class="imagen2"></a>
        <a href="principal.html"><img src="/imagenes/pagina-de-inicio.png"class="imagen3"></a>
    </div>


    <div class="log">
        <h2>Iniciar Sesión</h2>
        <input type="text" placeholder="Usuario">
        <br>
        <input type="password" placeholder="Contraseña">
        <br>
        <button class="IniciarSesion">Iniciar Sesión</button>
    </div>
</body>
</html>