<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar">
    <div class="navbar">
        <div class="navbar-logo">
            <a th:href="@{/principal}">
                <img th:src="@{/images/logoPrincipal.png}" alt="Logo" class="logo-img">
            </a>
        </div>

        <div class="navbar-iconos">
            <a th:href="@{/principal}" class="nav-link">Inicio</a>
            <a th:href="@{/recetas}" class="nav-link">Recetas</a>
            <a th:href="@{/opciones}">
                <img th:src="@{/images/Inicio.png}" alt="Perfil" class="icono-img">
            </a>
        </div>
    </div>
</nav>


<footer th:fragment="footer">
    <div class="footer">
        <span class="footer-derechos">Todos los derechos de la página están reservados a su creador Original Ruben</span>
        <span class="footer-compromiso">Al entrar en esta página me comprometo a no publicar contenido inapropiado ni tampoco a acosar a los demás usuarios</span>
    </div>
</footer>

</body>
</html>