<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Nueva receta</title>
    <link rel="stylesheet" th:href="@{/css/recetas.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>

    <div th:replace="~{navbar :: navbar}"></div>

    <div class="contenido">

        <h1>Nueva receta</h1>

        <div class="seccion">
            <form th:action="@{/recetas/nueva}" method="post" th:object="${recetaDTO}">

                <label>Nombre de la receta</label>
                <input type="text" th:field="*{recetaNombre}" required>

                <!-- desplegable  -->
                <label>Ranking</label>
                <select th:field="*{rankingId}" required>
                    <option value="">Elige un ranking...</option>
                    <option th:each="r : ${rankings}"
                            th:value="${r.id}"
                            th:text="${r.rankingName}">
                        Ranking
                    </option>
                </select>

                <label>Ingredientes</label>
                <textarea th:field="*{ingredientes}" rows="5" placeholder="Un ingrediente por línea" required></textarea>

                <label>Pasos a seguir</label>
                <textarea th:field="*{pasos}" rows="8" placeholder="Describe los pasos" required></textarea>

                <button type="submit">Guardar receta</button>
            </form>
        </div>

    </div>

    <div th:replace="~{navbar :: footer}"></div>

</body>
</html>
